.about-me{
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__text-inner{
    max-width: 536px;
  }
  &__item{
    margin: 0 ;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &__title{
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 81px;
  }
  &__photo{
    max-width: 648px;
    max-height: 558px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
