@media (max-width: 1350px){
  .menu{
   &__list{
     display: none;
   }
  }
  .contacts{
    margin: 0 auto;
  }
  .burger-menu{
    display: block;
  }
}
@media (max-width: 1258px){
  .footer__list{
    display: none;
  }
  .about-me__inner{
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }
  .about-me__text{
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-me__text-inner{
    margin-top: 60px;
  }
  .about-me__item{
    text-align: center;
  }
}
@media (max-width: 1229px){
  .skills{
    &__card{
      max-width: 350px;
    }
  }
}
@media (max-width: 1079px){
  .skills{
    &__card{
      max-width: 320px;
    }
  }
}
@media (max-width: 989px){
  .menu{
    padding: 30px 100px;
  }
  .menu-active__list.open{
    top: 94px;
  }
  .skills{
    &__card{
      max-width: 250px;
    }
  }
}
@media (max-width: 779px){
  .skills{
    &__card{
      max-width: 222px;
    }
  }
}
@media (max-width: 768px){
  .header{
    &__inner{
      margin-top: 100px;
    }
    &__text{
      max-width: 618px;
    }
    &__arrow{
      display: none;
    }
    &__btns{
      margin-bottom: 160px;
    }
  }
  .footer__nav{
    padding: 30px 0;
  }
  .portfolio{
    &__text{
      font-size: 13px;
      padding: 20px;
    }
    &__title{
      font-size: 35px;
    }
  }
  .menu{
    padding: 30px 50px 30px 150px;
  }
  .burger-menu{
    margin-left: 134px;
  }
  .header{
    &__title{
      font-size: 50px
    }
  }
  .about-me__text{
    font-size: 16px;
  }
  .about-me__title{
    font-size: 35px;
  }
}
@media (max-width: 754px){
  .portfolio{
    min-height: 530px;
  }
  .contacts{
    &__item{
      &:first-child{
        display: none;
      }
    }
  }
}
@media (max-width: 695px){
  .skills{
    &__card{
      max-width: 200px;
    }
  }
}
@media (max-width: 665px){
  .header{
    &__btn{
      font-size: 16px;
    }
  }
  .about-me__item{
    font-size: 14px;
  }
  .skills{
    &__card{
      max-width: 180px;
    }
  }
  .portfolio{
    min-height: 530px;
    &__text{
      font-size: 9px;
      padding: 15px;
    }
  }
  .btn-right{
    margin-top: 30px;
    margin-left: 0 !important;
  }
  .header{
    &__title{
      font-size: 40px;
    }
    &__text{
      font-size: 14px;
    }
    &__btns{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .about-me__text{
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 569px){
  .skills{
    &__inner{
      justify-content: center;
    }
  }
}
@media (max-width: 540px){
  .header{
    &__title{
      font-size: 30px;
    }
    &__text{
      font-size: 11px;
    }
  }
  .about-me__item{
    font-size: 12px;
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }
  .contact-form{
    &__title{
      font-size: 24px;
    }
  }
  .form__input{
    width: 60%;
  }
  .form__btn{
    margin: 5px 0 40px;
    font-size: 14px;
  }
  .form__text{
    font-size: 16px;
    padding-top: 55px;
  }
  .skills{
    &__card{
      max-width: 120px;
    }
  }
  .portfolio{
    min-height: 400px;
    &__text{
      font-size: 6px;
      padding: 9px;
    }
  }
  .about-me__text{
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu{
    padding-left: 10px;
  }
  .burger-menu{
    margin-left: 30px;
  }
}
@media (max-width: 521px){
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}
@media (max-width: 363px){
  .header__title{
    font-size: 24px;
  }
}
