.skills{
  margin-bottom: 85px;
  &__title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #031A1F;
    margin-bottom: 50px;
  }
  &__inner{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  &__card{
    max-width: 280px;
    padding: 12px;
  }
}
